@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Croissant+One&family=Fira+Code&family=Lobster+Two&family=Nanum+Pen+Script&family=Open+Sans&family=Roboto+Mono&family=Sofia+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Rubik&display=swap');

:root {
  --secondary-color: #EAB63E;
  --primary-color: #355952;
  --background-color: #FAF6E7;
  --font-color: rgb(35,33,59);
  --red-color: rgb(210,50,38);
  --hover-color: rgb(134,176,165);
  --hover-border-color: rgb(225,177,45);
}





:root {
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Rubik', sans-serif;
}


html {
    scroll-behavior: smooth;
    background-color: var(--background-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.word {
  font-family: 'Fira Code', monospace;
}

.body {
  margin-left: 20px;
}

.para {
  margin-left: 40px;
}

.left-el h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-wrap: wrap;
}

.bio-text {
  font-family: 'Fira Code', monospace;
}

body {
    scroll-behavior: smooth;
    display: grid;
  
}
.index {
    margin: 35px 300px 0 300px;
}
.layout{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.left-el {
    padding: 10px;
    /* margin-left: 300px; */
    z-index: 100;
    position: fixed;
    /* top: 100px; 
    left: 50px; 
    margin-top: 50px; */
  }

.left-el.open {
  left: 0;
}

nav ul {
    list-style: none;
    cursor: pointer;
}

nav ul li {
  color:var(--primary-color)
}

nav ul li:hover {
    color: var(--background-color);
}
  
.main {
    grid-column: 2 / 3;
}

.title {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    font-family: var(--secondary-font)
  
  }

#bio {
    width: auto;
    line-height: 1.25;
    margin-bottom: 10px;
}

.bio-text{
    letter-spacing: 1px;
    font-size: 30px;
    margin-left: 50px;
}
h1 {
    letter-spacing: 4px;
    font-size: 60px;
}

.profile-photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 120px;
}



/* navbar css */

.navbar ul li {
    letter-spacing: 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Montserrat', sans-serif;
}


.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar li {
    position:static;
    margin-right: 20px;
  }




/* ------------------------- */


.education {
    margin: 35px 20px 50px 20px;
    height: auto;
    width: auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    border: 3px solid;
    border-radius:  0.25rem;
    
}
.experience {
    margin: 35px 20px 50px 20px;
    height: auto;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 2fr;
    border: 3px solid;
    border-radius: 0.25rem;
}

.project-card {
    margin-bottom: 20px;
    height: auto;
    width: auto;
    display:grid;
    border-radius: 0.25rem;
    border: solid 3px black;
}


.project-text {
  padding: 20px;
}

.tech-list {
  list-style: none;
  display:flex;
  justify-content: center;
  
}

.tech-list ul {
  margin-right: 15px;
  border: 2px solid var(--font-color);
  padding: 5px;

}

.tech-icon { 
  margin-right: 10px;
}


.tech-list li:last-child {
  margin-right: 0;
}




.project-ss {
    height: 80px;
    width: 130px;
    margin: 0;
    padding-top: 50px;
    padding-left: 20px;
}


.project-card:hover {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    border: 3px solid;
    cursor: pointer;
}



/* footer css */

footer {
    position: sticky;
    bottom: 0;
    font-size: 35px;
  }
  
  footer ul {
    list-style: none;
    display: flex;

  }
  
  footer ul li {
    padding-right: 10px;
  }
  
  footer ul li:last-child {
    margin-bottom: 0;
  }

  .footer-icon {
    font-size: 25px;
    color:var(--font-color);
  }

  .footer-icon:hover {
    color:var(--primary-color);
  }

/* ------------------------ */







/* work history */

.experience, .education {
  padding: 15px;

}

.resp {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  font-family: var(--secondary-font);
}


/* -------------- */

.education:hover, .experience:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #e37769;
}


.livesite{
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
}


.navlink {
  font-weight:bolder;
  font-size: 20px;
  color: var(--font-color);
}

.chevronRight {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 600px;
}

.chevronRight:hover {
  color: var(--background-color);
}

 .navlink:hover {
  cursor: var(--color1);
  color: var(--secondary-color);
  
}

.nav-icon, svg, .navlink {
  transition: transform 0.3s ease; /* Add a transition for smooth rotation */
}

.nav-icon:hover, svg:hover, .navlink:hover {
  transform: rotate(45deg); /* Rotate the SVG on hover */
}

.livesite:hover {
  color: var(--secondary-color);
}

h3.project-name {
  font-size: 40px;
  font-family: var(--secondary-font);
  text-align: center;
}


.description {
  margin-right: 10px;
  font-family: var(--secondary-font);
  font-size: 20px;
}

.date, h4 {
  color: #777;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}

h3 {
  font-family: var(--primary-font);
  margin-left: 5px;
}



.tech-icon {
  font-size: 35px;
}







/* Add a media query for screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 844px) {
  body {
    display: block; /* Change from grid to block for mobile layout */
    margin: 0; 
    padding-bottom: 80px; /* padding at the bottom to accommodate the fixed footer */
    padding-top: 200px;
  }

  .index {
    margin: 35px auto; /* Center the content horizontally */
    max-width: 400px; /* Set a maximum width for content on mobile */
  }

  .profile-photo {
    width: 100px;
    height: 100px;
    margin-left: 200px;
  }

 .left-el {
  background-color: var(--background-color);
  width: 100%;
  top: 0;
 }


 .profile {
  text-align: center;
  display: flex;
  padding-bottom: 5px;
 }

 #projects, #resume {
  padding-top: 50px;
 }
 .left-el h1 {
  margin-right: 150px;
  margin-left: 20px;
  padding-top: 8px;
  font-size: 35px;
 }

 .tech-icon {
  font-size: 5
 }
  nav ul {
    display: flex;
    justify-content: center;
  }

  .navlink {
    letter-spacing: 1px;

  }

  .left-el .navbar {
    margin: 0;
  }

  .word {
    padding-top: 50px;
  }

 .projects {
  margin-top: 120px;
 }

  .layout {
    grid-template-columns: 1fr; /* Single column for mobile layout */
  }

  .project-container {
    padding-top: 10px;
  }
  .experience,
  .education,
  .project-card {
    width: 100%; 
    margin: 0; 
    padding: 50px; 
    box-sizing: border-box; 
    margin-left: 100px;
    margin-bottom: 20px;
  
   
  }


  .description {
    font-size: 25px;
  }


  /* Add fixed styling for the footer */
  footer {
    position: fixed;
    width: 100%;
    text-align: center; /* Center text horizontally */
    background-color: var(--background-color);
    margin-left: 230px;
  }

  .footer-icon, .tech-icon, .chevronRight{
    font-size: 30px; /* Increase the icon size for smaller screens */
  }

  .chevronRight {
    margin-left: 10px;
  }





  #bio {
    font-size: 25px;
    margin-top: 220px;
    margin-left: 220px; /* Add margin to push it below the .left-el */
  }

  .title {
    margin-left: 220px;
  }
}






/* underconstruction css */

.under-construction {
  background-color: var(--background-color); /* Background color */
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle elevation effect */
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the component horizontally */
  margin-top: 300px; /* Add top margin for spacing */
}

.under-construction h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.under-construction p {
  font-size: 20px;
  font-family: var(--secondary-font);
}






