html {
    scroll-behavior: smooth;
    background-color: grey;
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    scroll-behavior: smooth;
    margin: 100px;
    display: grid;
  
}

.layout{
    display:grid;
    grid-template-columns: 400px 1fr;
}
.left-el {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    z-index: 100;
    position: fixed;
    top: 100px; /* Adjust the top position as needed */
    left: 100px; /* Adjust the left position as needed */
  }
  
  
.main {
    grid-column: 2 / 3;
}

/* .layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
} */

.title {
    margin: 20px;
}

#bio {
    margin: 20px;
}
.education {
    margin: 20px;
}
.exp {
    margin:20px;
}

.project-card {
    border:solid 1px black;
    margin: 20px;
    display:grid;
}

.project-card:hover {
    background-color: beige;
    color: grey;
}